*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbar-default{
    margin-bottom: 0;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar-brand{
    font-size: 25px;
    font-family: cursive;
}
#img{
    background: url(patryk-sobczak-162368-unsplash.jpg) center center;
    background-size: cover;
    min-height: 550px;
    color: #fff;
    display: flex;
    align-items: center;
}
.jumbotron{
    background: rgb(243, 37, 1);
    padding-top: 5px;
}
#heading{
    margin-bottom: 50px;
}
input[type=submit]{
    background-color: #6e1603;
    border-radius: none;
    color: #fff;
    text-transform: uppercase;
}
#introduce{
    background-color: #6e1603;
    color: #fff;
    padding: 50px ;
}
#introduce .btn{
    background-color: rgb(243, 37, 1);
    margin-top: 20px;
}
#pic{
    background-color: rgb(243, 37, 1);
    padding-top: 50px;
    padding-bottom: 20px;
    color: #fff;
}